<header class="header">
    <section>
        <h1 class="header__title logo">ABOUT US</h1>
    </section>
    <section class="burger-btn">
        <span></span>
    </section>
</header>
<section class="about__overlay">
    <section class="about__group">
        <img width="100" height="125" src="" alt="author's avatar">
    </section>
    <section class="about__group">
        <p class="about__paragraph">Nickname: Dub Eror</p>
        <p class="about__paragraph">Full Name: Atroshko Roman</p>
        <p class="about__paragraph">Age: 20 y.o.</p>
        <p class="about__paragraph">
            <a href="tel:+380969421201">+380969421201</a>
        </p>
        <p class="about__paragraph">
            <a target="_blank" href='https://mail.google.com/mail/?view=cm&fs=1&to=duberormusic@gmail.com&su=List%20from%20ToDo%20App&body=Hello,%20Roman.%0AI%20have%20this%20request/suggestion for you:%20"%0A%20%20%20%20%0A".'>duberormusic@gmail.com</a>
        </p>
        <p class="about__paragraph">
            <a target="_blank" href="https://web.telegram.org/k/#@Dub_Eror">Telegram</a>
        </p>
    </section>
    <p class="about__password">cuminside</p>
</section>